{% extends "base.html" %}

{% block content %}
    <div class="container mt-3">
      <div class="card">
        <img src="{{ book.image.url }}"  width="240px" height="400px">
        <div class="card-header">
            <p class="card-text">{{book.title}}</p>
            <a class="card-text" href="{{ book.author.get_author_url }}">{{book.author}}</a>
            <p class="card-text">{{book.display_genre}}</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{book.summary}}</p>
        </div>
        <div class="card-footer">
            <a type="button" class="btn btn-primary">Add to cart</a>
            <span class="badge bg-success">{{book.price}}$</span>

        </div>
      </div>
    </div>
{% endblock %}
