{% extends "base.html" %}

{% block content %}
<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <a class="text-white">
    </a></div><a class="text-white">
  </a></div>
  <div class="navbar navbar-dark bg-dark shadow-sm"><a class="text-white">
    </a><div class="container"><a class="text-white">
      </a><a class="navbar-brand d-flex align-items-center">
        <strong>Genre Catalog</strong>
      </a>
      <p  data-bs-toggle="collapse" data-bs-target="#navbarHeader">
      </p>
    </div>
  </div>
</header>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        {% for genre in genres %}
          <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                <p class="card-text">{{genre}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ genre.get_genre_url }}">Show {{genre}}'s books</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock content %}